build/
build_demo/
CMakeFiles/
CMakeCache.txt
src/c_env/nav_data.h
.worktrees/
.env
**/*.npy
outputs/checkpoints/
outputs/recordings/
outputs/logs/
deploy/models/
deploy/mapdata/
__pycache__/
*.pyc
.venv/
resources
*.so
.ruff_cache
**/.vscode/settings.json
deploy/CS2RLBot/bin/
deploy/CS2RLBot/obj/
deploy/CS2RLBot_build/




# C

### Prerequisites
*.d

### Object files
*.o
*.ko
*.obj
*.elf

### Linker output
*.ilk
*.map
*.exp

### Precompiled Headers
*.gch
*.pch

### Libraries
*.lib
*.a
*.la
*.lo

### Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

### Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

### Debug files
*.dSYM/
*.su
*.idb
*.pdb

### Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### Debug information files
*.dwo